{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartReply</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Semantic UI Imports -->
    <link rel="stylesheet" type="text/css" href="{% static 'semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'sweetalert.css' %}">
    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'sweetalert.min.js' %}"></script>
</head>
<body>
<div class="ui text container">


    <!--
    Main Menu
    -->
    <div class="ui inverted fixed massive pointing menu">
        <a class="header item">
            Machine Learning Console
        </a>
    </div>
    <br><br>


    <!--
    Steps
    -->
    <div class="ui large header">Learning Steps</div>
    <div class="ui fluid steps">
        <div class="step">
            <i class="upload icon"></i>
            <div class="content">
                <div class="title">Upload DataSet</div>
                <div class="description">Learn from data</div>
            </div>
        </div>
        <div class="step">
            <i class="student icon"></i>
            <div class="content">
                <div class="title">Training</div>
                <div class="description">Evaluate ML Model</div>
            </div>
        </div>
        <div class="step">
            <i class="umbrella icon"></i>
            <div class="content">
                <div class="title">Prediction</div>
                <div class="description">Create and Submit</div>
            </div>
        </div>
    </div>


    <!--
    Two Column Grid
    -->
    <div class="ui grid">
        <div class="eight wide column">


            <!--
            Summary
            -->
            <div class="eight wide column">
                <div class="ui big header">Summary</div>
                <div class="ui segment">

                    <h4 class="ui header">
                        Model
                        <div class="sub header">ML Model Febracorp</div>
                    </h4>

                    <h4 class="ui header">
                        Type
                        <div class="sub header">Binary Classification</div>
                    </h4>

                    <h4 class="ui header">
                        Create At
                        <div class="sub header">May 29, 2017 18:31:05 PM</div>
                    </h4>

                    <h4 class="ui header">
                        Compute Time (Aproximate)
                        <div class="sub header">1 minute</div>
                    </h4>

                </div>
            </div>


            <!--
            DataSet
            -->
            <br>
            <div class="ui big header">Data Set</div>
            <div class="ui segment">

                <!--
                Training Data
                -->
                <h4 class="ui header">
                    Training Data
                    <div class="sub header">/root/dataset/train_data.json</div>
                </h4>
                <div class="ui center aligned basic segment">

                    <div class="ui mini statistic">
                        <div id="ui-train-data-rows-label" class="value">
                            0
                        </div>
                        <div class="label">
                            Rows
                        </div>
                    </div>
                    <div class="ui mini statistic">
                        <div id="ui-train-data-cols-label" class="value">
                            0
                        </div>
                        <div class="label">
                            Columns
                        </div>
                    </div>
                    <div class="ui mini statistic">
                        <div id="ui-train-data-size-label" class="value">
                            0
                        </div>
                        <div class="label">
                            KB
                        </div>
                    </div>
                </div>
                <div class="ui center aligned basic segment">
                    <button id="ui-upload-train-data-button" class="ui primary button">Upload Training Data</button>
                </div>

                <!--
                Test Data
                -->
                <div class="ui divider"></div>
                <h4 class="ui header">
                    Test Data
                    <div class="sub header">/root/dataset/test_data.json</div>
                </h4>
                <div class="ui center aligned basic segment">
                    <div class="ui mini statistic">
                        <div id="ui-test-data-rows-label" class="value">
                            0
                        </div>
                        <div class="label">
                            Rows
                        </div>
                    </div>
                    <div class="ui mini statistic">
                        <div id="ui-test-data-cols-label" class="value">
                            0
                        </div>
                        <div class="label">
                            Columns
                        </div>
                    </div>
                    <div class="ui mini statistic">
                        <div id="ui-test-data-size-label" class="value">
                            0
                        </div>
                        <div class="label">
                            KB
                        </div>
                    </div>
                </div>
                <div id="ui-upload-test-data-button" class="ui center aligned basic segment">
                    <button class="ui primary button">Upload Test Data</button>
                </div>

                <!--
                Classification
                -->
                <div id="ui-classification-div" style="display: none">
                    <div class="ui divider"></div>
                    <h4 class="ui header">
                        Classification
                    </h4>
                    <div id="ui-target-label-list" class="ui blue labels">
                    </div>
                </div>

            </div>
        </div>


        <!--
        Training ML Model - Segment
        -->
        <div class="eight wide column">
            <div class="ui big header">Training ML Model</div>
            <div class="ui segment">
                <div id="ui-evaluation-message" class="ui warning message" style="display: none">
                    <i class="close icon"></i>
                    On your most recent evaluation the ML model's quality score is considered <b>good</b> for
                    most machine learning applications but accuracy can be improved by data cleanning and bigger datasets.
                </div>
                <div id="ui-accuracy-bar" class="ui warning progress">
                    <div class="bar">
                        <div class="progress"></div>
                    </div>
                    <div class="label">AUC</div>
                </div>
                <div class="ui center aligned basic segment">
                    <div id="ui-accuracy-statistic" class="ui mini statistic">
                        <div id="ui-accuracy-label" class="value">
                            0
                        </div>
                        <div class="label">
                            Accuracy
                        </div>
                    </div>
                    <div class="ui mini statistic">
                        <div id="ui-threshold-label" class="value">
                            0
                        </div>
                        <div class="label">
                            Score threshold
                        </div>
                    </div>
                </div>
                <div class="ui center aligned basic segment">
                    <button id="ui-evaluate-button" class="ui positive button">Perform Evaluation</button>
                </div>
            </div>
            <br>


            <!--
            Predictions
            -->
            <div class="eight wide column">
                <div class="ui big header">Predictions</div>
                <div class="ui segment">
                    <h4 class="ui header">
                        Real-Time Prediction
                        <div class="sub header">Generate real-time predictions in your browser.</div>
                    </h4>
                    <div class="ui center aligned basic segment">
                        <button id="ui-realtime-prediction-button" class="ui button">Real-Time Prediction</button>
                    </div>

                    <h4 class="ui header">
                        Batch Prediction
                        <div class="sub header">Generate one-time predictions for a single dataset.</div>
                    </h4>
                    <div class="ui center aligned basic segment">
                        <button id="ui-realtime-batch-prediction-button" class="ui button">Batch Prediction</button>
                    </div>

                    <h4 class="ui header">
                        Enable Real-Time Prediction
                        <div class="sub header">To enable real-time predictions as service</div>
                    </h4>
                    <div class="ui center aligned basic segment">
                        <button id="ui-endpoint-prediction-button" class="ui button">Enable Endpoint</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--
Predictions
-->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Real-time Prediction
    </div>
    <div class="image content">
        <div class="description">
            <div class="ui header">Give us your text and it will be classified</div>
            <div class="ui form">
                <div class="field">
                    <textarea id="ui-text-to-predict-textarea"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div id="ui-realtime-go-predict-button" class="ui positive right labeled icon button">
            Predict
            <i class="umbrella icon"></i>
        </div>
    </div>
</div>


</body>

<script>
    $(document).ready(function () {

        const $train_data_rows = $("#ui-train-data-rows-label");
        const $train_data_cols = $("#ui-train-data-cols-label");
        const $train_data_size = $("#ui-train-data-size-label");
        const $test_data_rows = $("#ui-test-data-rows-label");
        const $test_data_cols = $("#ui-test-data-cols-label");
        const $test_data_size = $("#ui-test-data-size-label");
        const $classification_div = $("#ui-classification-div");
        const $evaluation_message = $("#ui-evaluation-message");
        const $accuracy_bar = $("#ui-accuracy-bar");
        const $accuracy = $("#ui-accuracy-label");
        const $threshold = $("#ui-threshold-label");
        const $accuracy_statistic = $("#ui-accuracy-statistic");
        const $target_label_list = $("#ui-target-label-list");

        $('#ui-accuracy-bar').progress({
            percent: 0
        });

        $('#ui-upload-train-data-button').click(function () {
            $.get("/ml/loaddata", {}, function (data) {
                $train_data_rows.html(data.train_data_rows);
                $train_data_cols.html('2');
                $train_data_size.html(data.train_data_size);
                $test_data_rows.html(data.test_data_rows);
                $test_data_cols.html('2');
                $test_data_size.html(data.test_data_size);
            });
            $.get("/ml/loadtarget", {}, function (data) {
                $target_label_list.empty();
                $.each(data.targets, function(k, v){
                    $target_label_list.append("<a class='ui label'>" + v + "<i class='icon close'></i></a>");
                });
            });
            $classification_div.show();
        });

        $('#ui-upload-test-data-button').click(function () {
            $.get("/ml/loaddata", {}, function (data) {
                $train_data_rows.html(data.train_data_rows);
                $train_data_cols.html('2');
                $train_data_size.html(data.train_data_size);
                $test_data_rows.html(data.test_data_rows);
                $test_data_cols.html('2');
                $test_data_size.html(data.test_data_size);
            });
        });

        $('#ui-evaluate-button').click(function(){
            $threshold.html('0.78');
            $accuracy_bar.addClass('yellow')
            $accuracy_statistic.addClass('yellow');

            $.get("/ml/evaluate", {}, function (data) {
                $('#ui-accuracy-bar').progress({
                    percent: data.accuracy
                });
                $accuracy.html(parseFloat(data.accuracy / 100).toFixed(2));
                $evaluation_message.show();
            });
        });

        $('#ui-realtime-prediction-button').click(function () {
            $('.ui.modal').modal('show');
        });

        $('#ui-realtime-go-predict-button').click(function () {
            var text = $('#ui-text-to-predict-textarea').val();
            if (text.trim().length == 0) {
                swal("", "Please submit your text do evaluation", "warning");
            }
            else {
                $.get("/ml/predict", {'text': text}, function (data) {
                    swal(data.classification, "", "success");
                });
            }
        });

        $('#ui-realtime-batch-prediction-button').click(function(){
            swal("", "Not available", "warning");
        });

        $('#ui-endpoint-prediction-button').click(function(){
            swal("", "Not available", "warning");
        });

    });
</script>

</html>